@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300 !important;
    background: #7bb1dd;
}

.app-modal-window .modal-dialog {
    margin-top: -40px !important;
}

.question {
    padding: 50px;
    background: #79b0df;
}

.question h2 {
    color: #fff;
    display: block;
    margin: 30px 0;
    text-align: center;
    font-size: 17px;
    letter-spacing: 1px;
    font-weight: bold;
}

.question h1 {
    color: #333;
    font-size: 18px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
    text-align: center;
    padding: 20px;
    border-radius: 15px;
    min-height: 200px;
    margin: 0 auto;
    margin-bottom: 30px;
    width: 240px;
    align-items: center;
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    -ms-flex-pack: center;
    -webkit-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
    -ms-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
}

.question h1 span {
    display: inline-block;
    margin: auto;
    font-weight: 300;
    line-height: 24px;
}

.modal-dialog {
    width: 300px;
}

.chart {
    width: 100%;
    height: 400px;
}

.question .list-group {
    margin: 0;
    padding: 0;
}

.question .list-group li {
    border: none;
    margin: 20px 0;
    border-radius: 15px;
    -webkit-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
    -ms-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
    padding: 15px;
    width: 240px;
    margin: 15px auto;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.question .list-group li input[type=radio] {
    vertical-align: top;
    height: 16px;
    width: 16px;
    margin: 0;
    margin-top: 3px;
    display: none;
}

.question .list-group li label {
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 1px;
    padding: 5px 0;
}

.question button.btn.btn-primary {
    margin-top: 50px;
    display: block;
    width: 100%;
    -webkit-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
    -ms-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
}

.list-group-item:active,
.list-group-item.active {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
}

.stats {
    float: right;
    border: 2px solid #757575;
    border-radius: 50%;
    width: 50px;
    text-align: center;
    height: 50px;
    font-size: 15px;
    margin-top: -14px;
    vertical-align: middle;
    display: block;
    background: #efefef;
    line-height: 50px;
    color: rgb(191, 62, 8);
    /*#e89715;*/
    font-size: 12px;
    font-weight: 400;
}

.back-img {
    background: transparent;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 50px;
}

.white-box {
    padding: 30px;
    background: rgba(251, 251, 251, 0.9);
    border-radius: 12px;
}

.white-box h2 {
    text-align: center;
    color: #555;
    line-height: 22px;
}

.white-box img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0 auto;
    text-align: center;
    display: block;
    margin-bottom: 12px;
}

.white-box p {
    display: block;
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
}

.question {
    background: transparent;
}

.list-group-item {
    background: rgba(251, 251, 251, 0.9);
}

input#user-email {
    border: 1px solid #ccc;
    box-shadow: none !important;
}

.help-block {
    color: #de3434;
}

.share img {
    width: 20px;
    height: 20px;
    border-radius: 0%;
    float: right;
    /*padding-bottom: 10px;*/
    margin-bottom: 0px;
}

.app-modal-window .modal-dialog {
    width: 427px;
}

.app-modal-window img {
    margin: 5px 5px;
}

header {
    padding: 30px 0 20px;
}

.navigation ul {
    margin: 0;
    padding: 0;
    float: right
}

.navigation ul li {
    list-style: none;
    display: inline-block;
    padding: 0 25px;
}

.navigation ul li a {
    color: #fff;
    font-size: 18px;
    line-height: 36px;
}

.navigation ul li a:hover {
    text-decoration: none;
    color: #ddd;
}

.navigation ul li a.submit {
    border: 1px solid #fff;
    padding: 3px 15px;
    border-radius: 5px;
}

.navigation ul li a.submit:hover {
    border: 1px solid #ddd;
}

.submit-block h1 {
    color: #fff;
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 20px;
}

.submit-block form fieldset {
    margin-bottom: 10px;
}

.submit-block form fieldset label {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #fff;
    font-weight: normal;
    display: block;
}

.submit-block form fieldset textarea {
    padding: 15px;
    border-radius: 10px;
    background: #fff;
    resize: none;
    outline: none;
    height: 150px;
    width: 100%;
    color: #999;
    font-size: 18px;
    font-weight: 400;
}

.submit-block form fieldset input[type=text],
.submit-block form fieldset input[type=email] {
    padding: 15px;
    border-radius: 10px;
    background: #fff;
    outline: none;
    width: 100%;
    color: #999;
    font-size: 18px;
    font-weight: 400;
}

.submit-block form fieldset input[type=text]::-webkit-input-placeholder,
.submit-block form fieldset textarea::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #999;
}

.submit-block form fieldset input[type=text]::-moz-placeholder,
.submit-block form fieldset textarea::-moz-placeholder {
    /* Firefox 19+ */
    color: #999;
}

.submit-block form fieldset input[type=text]:-ms-input-placeholder,
.submit-block form fieldset textarea:-ms-input-placeholder {
    /* IE 10+ */
    color: #999;
}

.submit-block form fieldset input[type=text]:-moz-placeholder,
.submit-block form fieldset textarea:-moz-placeholder {
    /* Firefox 18- */
    color: #999;
}

.submit-block form fieldset input[type=checkbox] {
    margin-left: 20px;
    height: 16px;
    vertical-align: sub;
    width: 16px;
}

.submit-block form fieldset button {
    background: none;
    border: none;
    text-align: center;
    margin: 10px auto;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #fff;
    font-weight: normal;
}

.submit-block form fieldset button img {
    width: 40px;
    display: block;
    margin: 5px auto;
}

.mar-t20 {
    margin-top: 20px;
}

@media (min-width: 768px) {
    .app-modal-window .modal-dialog {
        margin: 250px auto;
    }
}

@media (max-width: 767px) {
    header {
        padding: 10px 0 10px;
    }
    header .logo {
        text-align: center;
    }
    .navigation {
        margin-top: 10px;
    }
    .navigation ul {
        float: none;
        text-align: center;
    }
    .navigation ul li {
        padding: 0 10px;
    }
    .question {
        padding: 50px 0px;
    }
    .back-img {
        margin-bottom: 0;
    }
    .modal-dialog {
        width: 300px;
        margin: 30PX auto;
    }
}

.fn {
    float: none !important;
}

.flip {
    -webkit-perspective: 800;
    /*width: 400px;
     height: 200px;*/
    /*position: relative;
      margin: 50px auto;*/
}

.flip .card.flipped {
    -webkit-transform: rotatey(-180deg);
}

.flip .card {
    /*width: 100%;
    height: 100%;*/
    -webkit-transform-style: preserve-3d;
    -webkit-transition: 0.5s;
}

.flip .card .face {
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-backface-visibility: hidden;
    z-index: 2;
    /*font-family: Georgia;
      font-size: 3em;
      text-align: center;
      line-height: 200px;*/
}

.flip .card .front {
    position: absolute;
    z-index: 1;
    /*background: black;
      color: white;
      cursor: pointer;*/
}

.flip .card .back {
    -webkit-transform: rotatey(-180deg);
    /*background: blue;
      background: white;
      color: black;
      cursor: pointer;*/
}

.white-box {
    position: relative;
    overflow: hidden;
}

.loader {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 999;
    display: flex;
    -webkit-display: flex;
    -moz-display: flex;
    -o-display: flex;
    -ms-display: flex;
    align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    -moz-align-items: center;
}

.loader img {
    z-index: 999;
    position: relative;
    width: 64px;
    height: 72px;
    margin-top: 66px;
}

.loader:before {
    position: absolute;
    top: 0px;
    left: 0px;
    background: rgba(251, 251, 251, 0.2);
    content: '';
    width: 100%;
    height: 100%;
    z-index: 0;
}

.modal-title {
    margin: 0;
    line-height: 30px;
    font-size: 20px;
    letter-spacing: 0px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #4c4c4c;
    margin-bottom: 10px;
}

.question .list-group li {
    display: flex !important;
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    -o-display: flex;
    align-items: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    padding: 0px;
    width: 285px;
}

.question .list-group li label {
    position: relative;
    width: 100%;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    color: #484848;
    font-weight: 300;
    min-height: 75px;
    padding: 12px;
    display: flex !important;
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    -o-display: flex;
    align-items: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
}

.stats {
    margin-top: 0px;
    width: 60px;
    margin-right: 8px;
}

.loader-img {
    margin: auto;
}

.loader-img {
    text-align: center;
    height: 64px;
    padding: 3px 0;
}

.back-img {
    background: url(http://wwaadvisorscom.fatcow.com/wp-content/uploads/clients.jpg);
    background-repeat: no-repeat;
    background-position: center;
    padding: 25px 0;
    height: 100%;
}

.white-box {
    padding: 30px;
    background: rgba(251, 251, 251, 0.9);
    border-radius: 12px;
    text-align: center;
    width: 300px;
}

.white-box h2 {
    text-align: center;
    color: #555;
    line-height: 22px;
}

.white-box img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 0 auto;
    text-align: center;
    display: block;
    margin-bottom: 12px;
}

#taglist li {
    display: inline;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 1px;
    color: #565656;
}

.white-box p {
    display: block;
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
}

.white-box h2 span {
    font-size: 18px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
}

.question {
    background: transparent;
    width: 300px;
    padding: 0;
    margin: 0 auto;
}

.list-group-item {
    background: rgba(251, 251, 251, 0.9);
}

.share img {
    width: 20px;
    height: 20px;
    border-radius: 0%;
    float: none;
    padding-bottom: 0px;
    margin-bottom: 0px;
    display: block;
}

.app-modal-window .modal-dialog {
    width: 300px;
    margin: 0px auto;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -142px;
    margin-top: -41px;
}

.app-modal-window img {
    margin: 5px 5px;
    width: 35px;
}

.modal-body {
    text-align: center;
}

#taglist {
    display: inline;
    list-style: none;
}

#taglist li {
    display: inline;
}

#taglist li:after {
    content: ", ";
}

#taglist li:last-child:after {
    content: "";
}

#taglist {
    padding-left: 0px;
}

@media screen and (max-width: 360px) {
    .app-modal-window .modal-dialog {
        width: 290px;
    }
    .question,
    .white-box {
        width: 100%;
    }
    .question .list-group li {
        width: 100%;
    }
}